
.container{
    h5{
        margin-bottom: 30px;
    }

    height:max-content;
   
    padding-top: 25px;
    padding-bottom: 25px;
    .cajas {
        display: flex;
        margin: auto;
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
        -webkit-transition: 0.1s;
        transition: 0.1s;
    }


}

//estilos inicio.vue
ul#imagenInicio {
    display: flex;
    list-style: none;
    li{
        padding: 20px;
        div {
            width: auto;
            height: auto; 
            img{
                width: auto;
                height: 330px;
            }
        }
    }
     
}

// vista alimentosRecomendados.vue
ul#alimento {
    display: flex;
    padding: 10px;
    list-style: none;
    div img{
        width: auto;
        height: 360px;
    }
}
// 
div#recomendacion {
    list-style: none;
    li{
        background-color: rgb(133, 204, 191);
        padding: 12px;
        margin: 10px;
        border-radius:1cm ;
        font-weight: 600;
        width:18%;
        font-size: 18px;
    }
}

//vista perfilUsuario.vue
.fotoPerfil{
    width: 160px;
    height: 160px;
    padding:10px;

}



.perfil{
    list-style: none;
    background-color: rgb(208, 237, 239);
    border-radius: 0.5cm;
    li{
        padding:10px;
        .boton{
            width:90%;
            .boton2{
                margin: 5px;
            }
        }
    }
}
div#dashboardPerfil {
    background-color: white;
    border-radius:0.2cm;
    width:95%;
    p{
        padding:150px;
    }

}
